@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

.wrapper {
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";
    grid-template-columns: 1fr, 500px;
    margin: 50px;
    ;
}

.about-coder {
    grid-area: a;
    width: 50%;
    font-size: 20px;
    margin-left: 50px;
}

.photo {
    grid-area: b;
    width: 100%;
    min-width: 500px;
    height: 400px;
    margin-right: 50px;
}

 h1 {
    text-align: center;
 }

.back-button{
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    background-color: #fd90c7;
    color: white;
    margin-top: 30px; 
}

.back-button:hover {
    background-color: #fe6eb6;
    cursor: pointer;
  }

.next-button{
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    background-color: #fd90c7;
    color: white;
    margin-top: 30px; 
    margin-left: 10px;
}

.next-button:hover {
    background-color: #fe6eb6;
    cursor: pointer;
  }