@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

.wrapper {
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";
    grid-template-columns: 1fr, 300px;
    margin: 50px;
    ;
}

.about-text {
    grid-area: a;
    width: 50%;
    font-size: 20px;
    margin-left: 50px;
    line-height: 1.5;
}

.about-photo img {
    grid-area: b;
    width: 400px;
    height: 400px;
    /* max-width: 500px;
    max-height: 500px; */
    margin-right: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #EC368D;
}


 h1 {
    text-align: center;
 }

.back-button{
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    background-color: #ffb8d8;
    color: white;
    margin-top: 30px; 
}

.back-button:hover {
    background-color: #edc7ff;
    cursor: pointer;
  }

.next-button{
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    background-color: #ffb8d8;
    color: white;
    margin-top: 30px; 
    margin-left: 10px;
}

.next-button:hover {
    background-color: #edc7ff;
    cursor: pointer;
  }