.home-container {
  display: grid;
  grid-template-columns: 60% 30%; /* Main content takes 60%, photo takes 30% */
  grid-template-rows: auto;
  gap: 20px; /* Adds space between intro and photo */
  justify-content: space-evenly; /* Keeps spacing balanced */
  align-items: center; /* Align items properly */
}

/* Main text container */
.intro-wrapper {
  font-family: "Alice", "Cormorant";
  grid-column: 1 / 2; /* Places intro in the first column */
  width: 100%;
  min-width: 400px;
}

/* Styling for name */
.name {
  font-family: "Sacramento", "Alice", "Cormorant";
  color: #fd90c7;
  font-size: 35px;
}


/* Keeps photo in place */
.photo-wrapper {
  grid-column: 2 / 3; /* Places photo in the second column */
  width: 100%;
  min-width: 300px; /* Prevents shrinking */
  margin-right: 50px;
}

/* Add spacing between intro text and buttons */
.about-me {
  margin-top: 100px;
}

/* Styling for the image */
.photo-style {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 1.5px solid #EC368D;
}

/* Button styles */
.about-me-button,
.view-mywork-button {
  font-family: "Cormorant", Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 15px;
  border: none;
  background-color: #ffb8d8;
  color: black;
}

.view-mywork-button {
  margin-left: 20px;
}

/* Button hover effects */
.about-me-button:hover,
.view-mywork-button:hover {
  background-color: #edc7ff;
  cursor: pointer;
}

/* Keeps typed text responsive */
#typed-text {
  width: 100%;
  max-width: 45vw;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr; /* Stack items vertically */
    grid-template-areas:
      "b"
      "a"
      "c";
  }
  .intro-wrapper {
    grid-column: 1 / -1; /* Takes full width */
    min-width: 250px;
  }
  .photo-wrapper {
    grid-column: 1 / -1; /* Takes full width */
    min-width: 350px;
    display: flex;
    justify-content: center; /* Center the image */
  }
  .photo-style {
    width: 100%;
    height: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .photo {
    min-width: 350px;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
