@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.intro-wrapper {
  display: grid;
  grid-template-areas: 
            "a b"
            "c b";
  /* flex-direction: row; 
  justify-content: space-evenly;
  align-items: center; Center vertically */
  grid-template-columns: 1fr, 300px;
  margin: 100px 50px;
}
.intro {
  grid-area: a;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 50%; /* Adjusted width for better layout */
  min-width: 700px; /* Optional max-width to prevent overflow */
}

.about-me{
  grid-area: c;
}


.photo {
  grid-area: b;
  width: 50%; /* Adjusted width for better layout */
  display: flex; /* Added flex display to center image */
  justify-content: center; /* Center the photo */
  min-width: 500px; /* Optional max-width to prevent overflow */

}


.photo-style {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 3.5px solid black;
}

.about-me-button {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 15px;
  border: none;
  background-color: #FD90C7;
  color: white;
  margin-top: 30px; /* Added margin for spacing */
}

.about-me-button:hover {
  background-color: #fe6eb6;
  cursor: pointer;
}



@media only screen and (max-width: 600px) {
  
.intro-wrapper {
  display: grid;
  grid-template-areas: 
            "b b"
            "a a"
            "c c"
            
            ;
  /* flex-direction: row; 
  justify-content: space-evenly;
  align-items: center; Center vertically */
  margin: 100px 50px;
}

.photo-style {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3.5px solid black;
}

.intro {
  width: 50%; /* Adjusted width for better layout */
  min-width: 75%; /* Optional max-width to prevent overflow */
}


}